.guild-list{
    display: flex;
    width: 6em;
    max-height: calc(100vh - 1rem);
    flex-direction: column;
    padding: .5rem;
    overflow-y: auto;
    list-style: none;
}

.guild-list li{
    margin-bottom: 1rem;
}