.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player .thumbnail-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-height: 450px;
    width: calc(100% - 2rem);
    max-width: 500px;
    padding: 1rem;
    z-index: 2;
    margin-bottom: 2rem;
    background-color: #0A1122;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 25%);
    border-radius: .5rem;
    /* border: 5px solid #FCB92F; */
}

.player .thumbnail-container p {
    text-overflow: clip;
}

.player .thumbnail-container p.title {
    text-align: center;
}

.player .thumbnail-container p.author {
    text-align: center;
}

.thumbnail-container .progress-bar {
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 5px;
    background-color: #FCB92F;
    transition: width ease .5s;
}

.player img {
    z-index: 0;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.controlls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}

.play-pause-button {
    width: 100px !important;
    height: 100px !important;
    border: none;
    border-radius: 50% !important;
}
.controlls button {
    flex: auto 0 150px;
    display: inline-block;
    color: #FF8E35 !important;
    stroke: #FF8E35;
}
